@model User

<div class="col-lg">
    <div class="form-group">
        <label for="Name">Nome: @Model.Name</label>
    </div>
    <div class="form-group">
        <label for="Email">@Model.Email</label>
    </div>
</div>
<a href="/user" class="btn btn-primary">Voltar para Listagem</a>